@font-face {
    font-family: "Untitled";
    src: url("fonts/Untitled.woff2") format("woff2"),
        url("fonts/Untitled.ttf") format("truetype"),
        url("fonts/Untitled.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.icon {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "Untitled" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* --- Ajout pour avoir des classes type Fontastic --- */

/* Base : quand on met une classe icon-XXX sur un élément */
[class^="icon-"], [class*=" icon-"] {
  font-family: "Untitled" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Chaque icône */
.icon-Ecimeuse::before { content: "\f000"; }
.icon-Bineuse::before { content: "\f001"; }
.icon-Rotoetrille::before { content: "\f002"; }
.icon-Houe::before { content: "\f003"; }
.icon-Herse::before { content: "\f004"; }
.icon-Herseressort::before { content: "\f005"; }
